name: Workflow Pipeline
on:
  push:
   branches:
     - main
  pull_request:
    branches: ['main','dev_abinesh']

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run unit Test and functional tests
        run: |
          pytest
      - name: Run Pylint for the Quality Check
        run: |
          pylint
          
          
